# compilation artifacts
module/MOD-INF/classes/
module/MOD-INF/lib/
target/
test-output/

# editor files
.idea/
.classpath
.project
.settings/
*.log
logs
*~
\#*#
.*.swp
*.DS_Store
*.class
*.patch
.vscode/
